body {
  // NOTE: needs to be kept in sync with colors, or we need a sass variable
  --border-base-color: var(--c-dark-green-opacity-20);

  --border-base: thin solid var(--border-base-color);
  --border-dark: thin solid var(--c-dark-green);
  --border-base-dashed: thin dashed var(--border-base-color);
}
