:root {
  --z-index-negative: -1;
  --z-index-content-back: 0;
  --z-index-content-front: 1;
  --z-index-navigation-back: 2;
  --z-index-navigation-front: 3;
  --z-index-modal-1: 10;
  --z-index-modal-2: 20;
  --z-index-modal-3: 30;
  --z-index-over-view-1: 50;
  --z-index-over-view-2: 100;
}
